# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#



# ======================================================================================================================
# INTELLIJ SPECIFIC
# ======================================================================================================================
.idea
.idea/



# ======================================================================================================================
# GO SECTION
# ======================================================================================================================
# Every person may have this work pace pointing to their own folders.
go.work
go.sum



# ======================================================================================================================
# OS BINARY SECTION
# ======================================================================================================================
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac OS Files
.DS_Store


# ======================================================================================================================
# OS BINARY SECTION
# ======================================================================================================================

# Test binary, built with `go test -c`
*.test



# ======================================================================================================================
# OTHER GENERATES FILES
# ======================================================================================================================
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
